Django
django-authtools
django-crispy-forms
Genshi
Pillow
pip
setuptools
wheel

channels
daphne
Twisted

zope.interface
haikunator

asgiref
autobahn
txaio
six


pip freeze > requirements.txt


[global] 
index-url = http://mirrors.aliyun.com/pypi/simple/
[install] 
trusted-host=mirrors.aliyun.com








