<!DOCTYPE html>
{% load staticfiles %}
<html  xml:lang="cs" lang="cs"><!-- Head -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta name="author" content="HipstaCowboys">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">

    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">

    <!-- Social media meta -->

    {#    <link href="http://demo.hotheme.co/design/favicon.ico" rel="icon" type="image/ico">#}

    <!-- Font -->
    <link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/css_002.css' %}" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link href="{% static 'css/general.css' %}" rel="stylesheet" type="text/css">

    <title>Hotheme Demo</title>
</head>

<!-- Body -->
<body>

<div class="demo-select">
    <a href="#" class="demo">
        <p>Select layout</p>
        <h2>
            <span>Layout style</span><br>
            Hotel
        </h2>
        <ul>
            <li><span class="icon"></span>Video Slider</li>
            <li><span class="icon"></span>Reservations</li>
            <li><span class="icon"></span>Rooms</li>
        </ul>
    </a>
    <a href="#" class="demo">
        <p>Select layout</p>
        <h2>
            <span>Layout style</span><br>
            Cottage in Woods
        </h2>
        <ul>
            <li><span class="icon"></span>Photo Slider</li>
            <li><span class="icon"></span>Translations</li>
            <li><span class="icon"></span>Things to do</li>
        </ul>
    </a>
    <a href="/" class="demo">
        <p>Select layout</p>
        <h2>
            <span>Layout style</span><br>
            Camp site
        </h2>
        <ul>
            <li><span class="icon"></span>Photo Slider</li>
            <li><span class="icon"></span>Reservation Switched Off</li>
            <li><span class="icon"></span>News</li>
        </ul>
    </a>
</div>


</body>
</html>