{% extends 'pdemo/base/base.html' %}

{% block title %}
    answer
{% endblock %}
{% block content %}
    <table>
        <form method='POST'>
            {% csrf_token %}
            {% for field in form %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" style="text-align: center;"><input type='submit'
                                                                   value='留言'>
                </td>
            </tr>
        </form>
    </table>
{% endblock %}