{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
{#    <link rel="stylesheet"#}
{#          href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">#}
{#    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>#}
{#    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
    <title></title>
</head>
<body>
<div style="width: 1500px;height: 100%;margin-left: auto;margin-right: auto;padding-left: 50px;">
    {% crispy form %}
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-2" style="border: double;">
            Sidebar content
        </div>
        <div class="col-sm-offset-1 col-sm-9" style="border: double;">
            Body content
        </div>
    </div>
</div>

</body>
</html>