<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>


<div class="col-lg-12">
    <form method="post">
        {% csrf_token %}
        <div class="col-lg-12">
            Question:<input type="text" name="Question" value="1">
            AnswerAuthor:<input type="text" name="AnswerAuthor">
            AnswerUser:<input type="text" name="AnswerUser" value="2">
                    <textarea style="" rows="3" cols="102" name="AnswerBody"
                              autofocus>来说两句吧... </textarea>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2 col-lg-offset-10">
                <button class="">发布yixia</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>