{% extends 'pdemo/base/base.html' %}
{% block tou %}
    {% load crispy_forms_tags %}
{% endblock %}
{% block title %}
    INDEX
{% endblock %}

{% block content_top %}
    <h3><a href="/add">add</a></h3>
    <h3><a href="/show">select question</a></h3>

    <h3><a href="/freedom">back freeDom</a></h3>


    <div style="position:relative;border:1px solid">
        <embed type="application/x-shockwave-flash" width="250" height="60"
               style="border:1px solid"
               src="static/swf/honehone_clock01.swf" wmode="opaque">
        </embed>
    </div>


{% endblock %}
