{% extends 'pdemo/base/base.html' %}

{% block title %}logout{% endblock %}


{% block content %}
    <!-- Container -->
    <div id="container">
        <!-- Header
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/">Lun Tan Di Zhi</a>
                </h1>
            </div>
        </div> -->
        <!-- END Header
        <div class="breadcrumbs"><a href="/">Home</a></div> -->
        <!-- Content -->
        <div class="colM" id="content">
            <p>Thank you for your browsing.</p>
            <p><a href="/">Log in again</a></p>
            <br class="clear">
        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->
{% endblock %}