<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question_show</title>
</head>
<body>
{% load i18n %}
<div class="box-body">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>{% trans 'QuestionTitle' %}</th>
            <th>{% trans 'QuestionSupply' %}</th>
            <th>{% trans 'QuestionTime' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for data in bbs_data %}
            <tr style="text-align: center">
                <td>{{ data.QuestionTitle }}</td>
                <td>{{ data.QuestionSupply }}</td>
                <td>{{ data.QuestionTime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>