<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question_answer_show</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"
          rel="stylesheet">

    <style type="text/css">
        .show-grid [class ^="col-"] {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #eee;
            border: 1px solid #ddd;
            background-color: rgba(86, 61, 124, .15);
            border: 1px solid rgba(86, 61, 124, .2);
        }
    </style>
</head>
<body>
<div class="row show-grid">
    <div class="col-lg-2 col-lg-offset-1"
         style="height: 30%;"></div>
    <div class="col-lg-8">
        <legend>Tell us your favorite stuff</legend>
        <div class="col-lg-12">
            <label class="control-label col-lg-2 requiredField">
                QuestionAuthor:</label>
            <label class="control-label col-lg-10 requiredField">{{ bbs_data.QuestionAuthor }}</label>
        </div>
        <div class="col-lg-12">
            <label class="control-label col-lg-2 requiredField">QuestionTitle: </label>
            <label class="control-label col-lg-10 requiredField">{{ bbs_data.QuestionTitle }}</label>
        </div>
        <div class="col-lg-12">
            <label class="control-label col-lg-2 requiredField">QuestionSupply: </label>
            <label class="control-label col-lg-10 requiredField">{{ bbs_data.QuestionSupply }}</label>
        </div>
        <div class="col-lg-12">
            <label class="control-label col-lg-2 requiredField">QuestionBody: </label>
            <label class="control-label col-lg-10 requiredField">{{ bbs_data.QuestionBody }}</label>
        </div>
    </div>

</div>
<div class="row show-grid">
    <div class="col-lg-8 col-lg-offset-3">
        <div class="col-lg-12">
            <table>
                <tbody>
                {% for message in answer_data %}
                    <tr>
                        <td>{{ message.AnswerAuthor }}</td>
                        <td>{{ message.AnswerTime }}</td>
                        <td>{{ message.AnswerBody }}**{{ message.AnswerUser.id }}**{{ bbs_data.id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-12">
                    <textarea style="" rows="3" cols="102"
                              autofocus>来说两句吧... </textarea>
            </div>
            {#            <div style="z-index: -1;display:none;">#}
            {#                <input type="text" name="Question" value="{{ bbs_data.id }}">#}
            {#                <input type="text" name="AnswerAuthor" value="我是无辜的 等下就删除">#}
            {#                <input type="text" name="AnswerUser">#}
            {#            </div>#}
            <div class="col-lg-12">
                <div class="col-lg-2 col-lg-offset-10">
                    <a href="javascript:void(0)">
                        <button class="">发布yixia</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


{#<br>#}
{#<hr>#}
{#{{ answer_data }}#}

</body>
</html>