{% load crispy_forms_field %}
<h3 class="box-title">xxxxxxxx</h3>

<div class="box-tools pull-right">
    <button class="btn btn-primary btn-sm">
        <i class="fa fa-refresh"></i>
        Display
    </button>
    <a class="btn btn-default btn-sm" data-widget="collapse"
       data-original-title="Collapse">
        <i class="fa fa-minus"></i></a>
</div>
<div class="box-tools pull-right col-md-3 col-sm-4">
    <div class="input-group ">
              <span class="input-group-addon"
                    style="background-color: rgba(0, 0, 0, 0);  border: none;">
               </span>
    </div>
</div>