<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <title>nihao</title>

    <link rel="stylesheet"
          href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet"
          href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        {#        $(function () {#}
        {#            $("#button-id-ajax").on('click', function () {#}
        {#                $.ajax({#}
        {#                    type: 'post',#}
        {#                    url: '{% url 'shouye' %}',#}
        {#                    data: {'QuestionAuthor':{{ request.user.id }}},#}
        {#                    success: function (data) {#}
        {#                        alert(11)#}
        {#                    },#}
        {#                    error: function () {#}
        {#                        alert(22)#}
        {#                    }#}
        {#                });#}
        {##}
        {##}
        {#            });#}
        {#        })#}
    </script>

</head>
<body>

<div style="width: 1500px;height: 100%;margin-left: auto;margin-right: auto;padding-left: 50px;">
    {% crispy form %}
</div>
</body>
</html>